Section: main
Priority: optional
Package: cluster-toys-common
Version: 1.0-wheezy-1
Maintainer: Christian Hilker <ch@ancientspledge.com>
Depends: awk, bash, rsync, ssh, sed, wget
Architecture: all
Description: cluster toys bash utility library
