Section: main
Priority: optional
Package: cluster-toys-common
Version: 1.0.2-6
Maintainer: Christian Hilker <ch@ancientspledge.com>
Depends: bash
Architecture: all
Description: cluster toys bash utility library
