Section: main
Priority: optional
Package: cluster-conf-server
Version: 1.0.2
Maintainer: Christian Hilker <ch@ancientspledge.com>
Depends: cluster-toys-common
Architecture: all
Description: Cluster configuration framework repository server
