Section: main
Priority: optional
Package: cluster-conf
Version: 1.0.1-wheezy-4
Maintainer: Christian Hilker <ch@ancientspledge.com>
Depends: cluster-toys-common
Architecture: all
Description: Configuration framework for general purpose cluster
