# local changes
####################
CT_DEBUG=3                                                   # set debug level 3
CT_VERBOSE=1                                                 # enable verbose messages
CT_LOGGING=1                                                 # enable logging
CT_LOGFILE="/var/log/cconf.log"                              # define alternative log file
CT_LOG_DEFAULT_SCOPE="cconf"                                 # define default logscope
